@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  --vs-blue: #007acc;
  --emerald: #10b981;
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;

  --vs-blue: #38bdf8;
  --emerald: #34d399;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.gradient-text {
  background: linear-gradient(
    135deg,
    #007acc,
    #10b981
  );

  -webkit-background-clip: text;
  color: transparent;
}

.hero-bg {
  background:
    radial-gradient(
      circle at top left,
      rgba(0,122,204,.15),
      transparent 35%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(16,185,129,.15),
      transparent 35%
    );
}